# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = David Wu
	email = dwu7401@gmail.com
[core]
    pager = less -X -F
	editor = nvim
[url "git@github.com:"]
	insteadOf = https://github.com/
[http]
	cookiefile = /home/david/.gitcookies
[credential]
	helper = store
